{#<ul class="sidebar-nav">#}
{#  <li><a href="{% url "tasks:index" %}">Home</a></li>#}
{#  <li><a href="{% url "tasks:task-list" %}">All tasks</a></li>#}
{#  <li><a href="{% url "tasks:positions-list" %}">All Positions</a></li>#}
{#  <li><a href="{% url "tasks:worker-list" %}">All workers</a></li>#}
{#  <li><a href="{% url "tasks:task-types" %}">Task types</a></li>#}
{#</ul>#}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid w-100">
    <a class="navbar-brand" href="{% url "tasks:index" %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "tasks:task-list" %}">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "tasks:task-list" %}">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "tasks:task-list" %}">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "tasks:task-list" %}">Tasks</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="mt-5">
  <!-- other content here -->
</div>
